body {
  background-color:black;
}

div {
  margin-top:30px;
  text-align:center;
  color:white;
  font-family:Cubano;
}

p {
  font-size:12em;
}

button {
  width:30%;
  height:300px;
  font-size:12em;
  font-family:Cubano;
  color:white;
  text-align:center;
  background-color:#555555;
  border-width:8px;
}
